body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f8f8f8;
}
form {
    background: white;
    padding: 10px;
    border-radius: 10px;
}
.post {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#suggestionsBox {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#suggestionsBox h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

#suggestions div {
    margin-bottom: 10px;
}
